
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Свадебное приглашение</title>

    <link rel="stylesheet" href="{% static 'main/style5.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <!-- Верхний блок -->
    <section class="hero">

        <div class="photo-block">
            <div class="photo-frame">

                <img src="{% static 'main/image/1.jpg' %}" alt="Фото">

            </div>
        </div>

        <div class = "invite-text">
            <br>
            <br>
            <br>
            <h1 style="font-size: 72px;">Дорогой гость!</h1>
            <p style="font-size: 30px;">
                Мы тебя приглашаем на наше важное<br>
                семейное торжество!<br>
                На нашу <span>СВАДЬБУ!!!</span>
            </p>

            <div class="date">
                <p style="font-size: 30px;"> Party пройдёт 
                <strong>03.09.2026</strong> (четверг)<br>
                г. Электросталь МО
            </p>
            </div>
        </div>

    </section>

    <!-- Расписание -->
    <section class="schedule">

        <h2>Расписание мероприятия:</h2>

        <div class="day">

            <h3>1 день (03.09)</h3>

            <div class="event">
                <span class="desc big">— Выкуп невесты</span>
                
            </div>

            <div class="event">
                <span class="desc big">— ЗАГС</span>
            </div>

            
            <div class="event">
                
                <span class="desc big">— Фотосессия</span>
            </div>

            <div class="event">
                
                <span class="desc big">— Выездная регистрация</span>
            </div>

            <div class="event">
                
                <span class="desc big">— Ресторан</span>
            </div>

        </div>

        <div class="day second-day">

            <h3>2 день (04.09)</h3>
            
                        <div class="event">
                
                <span class="desc big">— Дачный переполох</span>
            </div>
            

        </div>

    </section>

    <!-- Адрес -->
    <section class="address">

        <h2>Адреса:</h2>

        <p>Выкуп — ул. Жулябина д.22</p>

        <p>ЗАГС — ул. Трудовая д.32</p>
        
        <p>Фотосессия — улицы городов Электросталя и Ногинска</p>

        
        <p>Выездная регистрация/Ресторан — г. Ногинск ул. Санаторная д.7</p>
        
        <p>Дачный переполох — д. Щекавцево</p>


    </section>

    <section class="survey">
    <h2>Подтверждение присутствия</h2>

<form method="POST">
    {% csrf_token %} 
    
    <!-- ИМЯ -->

    <div class="form-group">

        <label>Ваше имя</label>

        <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Введите имя"
            required
        >

    </div>


    <!-- ПРИДЁТ -->

    <div class="form-group">

        <label>Вы придёте?</label>

        <div class="radio-list">

            <label>
                <input type="radio" name="will_come" value="yes">
                Приду
            </label>

            <label>
                <input type="radio" name="will_come" value="no">
                Не приду
            </label>

        </div>

    </div>


    <!-- АЛКОГОЛЬ -->

    <div class="form-group">

        <label>Какой алкоголь предпочитаете?</label>

        <div class="checkbox-list">

            <label>
                <input type="checkbox" name="alcohol" value="vodka">
                Водка
            </label>

            <label>
                <input type="checkbox" name="alcohol" value="red_wine">
                Вино красное
            </label>

            <label>
                <input type="checkbox" name="alcohol" value="white_wine">
                Вино белое
            </label>

            <label>
                <input type="checkbox" name="alcohol" value="beer">
                Пиво
            </label>

            <label>
                <input type="checkbox" name="alcohol" value="champan">
                Шампанское
            </label>

        </div>

    </div>


    <!-- УТОЧНЕНИЕ -->

    <div class="form-group">

        <label>Уточнение</label>

        <textarea
            name="alcohol_comment"
            class="form-input"
            rows="4"
            placeholder="Например: шампанское — брют"
        ></textarea>

    </div>


    <button type="submit">

        Отправить

    </button>

</form>

    </section>

    <!-- Верхний блок -->



<section class="schedule">

    <div class="day">
        <h3>P.S.: Невеста очень любит цветы. <br> (КРОМЕ ЛИЛИЙ И цветов фиолетового цвета)!!!</h3>
       
    </div>

</section >     

    
    <div class="event">
        <span class="desc big bf">DRESS-CODE</span>
    </div>


    <div class="dress-code-example">
    
        <img src="{% static 'main/image/10.jpg' %}" alt="Пример дресс-кода">
    </div>



    <div class="event">
        <span class="desc big push-right">Под запретом:</span>
    </div>
    
    
    <div class="dress-code-example">
        
            <img src="{% static 'main/image/11.jpg' %}" alt="Пример дресс-кода">
    </div>
    
    

    </div>

</div>


</body>
</html>